@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* public/css/custom.css */
/* Personalización de la tabla */
.table {
    --bs-table-bg: #ff0000;               /* Fondo base */
    --bs-table-striped-bg: #f8f9fa;      /* Filas alternas (gris claro) */
    --bs-table-hover-bg: #e9ecef;        /* Hover */
    --bs-table-border-color: #dee2e6;    /* Bordes */
}

/* Personalización de la tarjeta */
.card {
    --bs-card-bg: #0026ff;               /* Fondo */
    --bs-card-border-color: #dee2e6;     /* Borde */
    --bs-card-cap-bg: #f8f9fa;           /* Cabecera */
}